/* Por padrao*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Corpo geral*/
body {
  margin: 0;
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  padding-top: 40px;
 background: linear-gradient(137deg, #1d7477, #0f095f, #cf4ee0, #643a51);
}

h1, h2 {
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

/* Campo de Cima*/
.input-container {
  margin: 19px;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 20px;
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: white;
}

/* Estilo do botão, criar espaçamento */
.input-container button {
  padding: 11px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.2s;
}

/* Hover bonito */
.input-container button:hover {
  opacity: 0.8;
}

/* Agrupamento do input + botão */
.agrupado-inputs {
  padding: 10px;

  display: flex;
  gap: 10px;
  align-items: center;
}

/* Input */
.agrupado-inputs input {
  flex: 1;

  padding: 11px;

  border: 1px solid #ccc;
  border-radius: 5px;

  outline: none;
}



/* Campo de contagem */
.Card-contagem {
  margin: 12px;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 10px;


  display: flex; /* para colocar os itens em linha */
  justify-content: space-between; /* para colocar os itens nas extremidades */
  align-items: center;
  background-color: white;
}


/* Campo de Tarefas ou Campo de Baixo*/
.container-tarefas {
  margin: 20px;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 15px;
  width: 400px;
  min-height: 200px;

  background-color: white;
  text-align: center;
}

table {
  border: 1px solid black;
}

#tarefas {
 color: black;
/* espacamento cima e baio*/
 margin: 20px 0;
}